html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
}

canvas {
    background-color: black;
    margin-top: 32px;
    display: block;
}

.d-none {
    display: none !important;
}

.begin {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

td {
    padding: 12px;
}

.span {
    margin-bottom: 12px;
}

.button {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: red;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    transition: all 1s ease-out;
    background-color: green;
}

.startScreen {
    width: 720px;
    height: 480px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.reload-button {
    color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: red;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.how-it-goes {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(102, 102, 102) !important;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.how-it-goes:hover {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(151, 151, 151) !important;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 1s ease-out;
}

a {
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: none;
    color: white !important;
}

/* Smartphones ---------- */

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        margin-top: 0px;
    }
}

/* Smartphones ---------- */

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }
}