html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
}

.canvas-area {
    display: flex;
    position: relative;
}

canvas {
    background-color: black;
    /*margin-top: 32px;*/
    display: block;
}

/*.key-button-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 720px;
    height: 480px;
    margin-top: 32px;
}*/

.left-key-button {
    position: absolute;
    left: 5%;
    bottom: 15%;
    width: 30px;
    height: 24px;
}

.right-key-button {
    position: absolute;
    left: 15%;
    bottom: 15%;
    width: 30px;
    height: 24px;
}

.a-key-button {
    position: absolute;
    right: 20%;
    bottom: 15%;
    width: 30px;
    height: 24px;
}

.b-key-button {
    position: absolute;
    right: 10%;
    bottom: 25%;
    width: 30px;
    height: 24px;
}


.left {
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 10;
}

.jump {
    position: absolute;
    left: 16px;
    bottom: 8px;
    z-index: 10;
}

.right {
    position: absolute;
    left: 24px;
    bottom: 8px;
    z-index: 10;
}

.A {
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 10;
}

.B {
    position: absolute;
    right: 12px;
    bottom: 36px;
    z-index: 10;
}

.d-none {
    display: none !important;
}

.begin {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.informationArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

td {
    padding: 12px;
}

.span {
    margin-bottom: 12px;
}

.button {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: red;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    transition: all 1s ease-in-out;
    background-color: green;
}

.startScreen {
    max-width: 720px;
    max-height: 480px;
    margin-top: 32px;
    margin-bottom: 16px;
    display: block;
}

.reload-button {
    font-size: 0.8em;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: red;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.reload-button:hover {
    background-color: rgb(228, 1, 1);
    transition: all 1s ease-in-out;
}

.turn-control-button {
    font-size: 0.8em;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: grey;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.how-it-goes {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(102, 102, 102) !important;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.how-it-goes:hover {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(151, 151, 151) !important;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 1s ease-out;
}

a {
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: none;
    color: white !important;
}

/* Smartphones ---------- */

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        margin-top: 0px;
    }

    .startScreen {
        width: 100%;
        margin-top: 0px;
    }

    .key-button-area {
        width: 100%;
        margin-top: 0px;
    }
}

/* Smartphones ---------- */

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .startScreen {
        height: 100vh !important;
    }

    .key-button-area {
        height: 100vh;
    }
}